// ==========================================================================
// Placeholders
// ==========================================================================

// Panel

%panel-default {
  padding-top: em(30px);
  @include mq(medium) {
    padding-bottom: em(20px);
  }
}

%panel-padding {
  padding-top: em(34px);
  @include mq(medium) {
    padding-top: em(80px);
    padding-bottom: em(34px);
  }
}
%panel-padding-all {
  padding-top: em(34px);
  @include mq(medium) {
    padding: em(34px);
  }
}
%blockquotes{
  p{
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
    font-style: italic;
    &:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
    &:after {
      color: #ccc;
      content: close-quote;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }
  }
}