.box1{
  background: lightblue;
  flex: 1 1 500px;
}
.box2{
  background: lightgreen;
  flex: 1 1 500px;
}
.box3{
  background: lightpink;
  flex: 1 1 500px;
}
.box4{
  background: lightsalmon;
  flex: 1 1 500px;
}
.box5{
  background: lightgoldenrodyellow;
  flex: 1 1 500px;
}